@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
}

.mark .land {
  fill: #d8d8d8d8;
}

.mark .interiors {
  fill: none;
  stroke: #c3c3c3;
}

.mark .graticules {
  fill: none;
  stroke: #dadada;
}

.sphere {
  fill: #fbfbfb;
  stroke: none;
}