@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
}

.mark {
  fill: #137B80;
}

.label {
  text-anchor: middle;
  font-size: 1.7em;
  fill: #635F5D;
  stroke: #635F5D;
}

.tick {
  stroke: #635F5D;
  ;
  font-size: 1em;
}